.end{
    align-items: center;
    color: rgb(151, 0, 0);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    font-size:1.8rem;
    font-weight: bolder;
    top:150px;
}